/*
/***** VINTAGE THEME *****/

body {color: #4a5662;background-image: url(../images/bg-slice-squares.gif);}

h1, h2, h3, h4 {color: #053b6e;font-family: Arial, Helvetica, sans-serif;}
a {color: #d98500;}
a:hover {color: #053b6e;text-decoration: none;}
span.colour {color: #053b6e;}
p {font-family: Arial, Helvetica, sans-serif;}
h1, h2, h3, h4 {font-weight: bold;}

hr {border-color:#9bb0c8; }

/* Structure
-------------------------------------------------------------------------------------- */
#container {background-image: url(../images/bg-slice-content.gif);}
#content {background-image: url(../images/bg-content-footer.png);}
#content .inner {background-image: url(../images/bg-content-slice.png);}

/* Header
-------------------------------------------------------------------------------------- */
#header h1 {color: #e6a405;text-shadow:none;width: 500px;margin: 45px auto 0; font-size: 320%;}
#header {background-image: url(../images/bg-slice.gif);}
#header .header-content {background: url(../images/bg-header.png);}
#header h3 {color: #053b6e;background-image: url(../images/bg-header-date.png); line-height: 48px; font-weight: normal; font-size: 15px;
text-shadow: 1px 1px 0 #f7eedf;height: 46px;}
#content img {
	box-shadow: 0 0 5px 2px #ccc;
-webkit-box-shadow:  0 0 5px 2px #ccc;
-moz-box-shadow:  0 0 5px 2px #ccc;}

/* Navigation
-------------------------------------------------------------------------------------- */
ul#nav li a {color: #053b6e;background: url(../images/bullet-grey.png) no-repeat 0px 4px;font-family: Arial, Helvetica, sans-serif; text-transform: none;}
ul#nav a:hover {color: #d98500;}
ul#nav li.active a {color: #d98500;}
ul#nav a:hover, ul#nav li.active a {background-image: url(../images/bullet.png); background-position: 0px 4px;}


.home-pic-bg {background-image: url(../images/bg-home-pic.png);padding: 14px 18px; margin: 0 20px 0 0;}
.countdown {background-image: url(../images/bg-countdown.png);}
.divider {background: url(../images/bg-divider.gif) repeat-x top left;width: 100%;height: 6px; display: block;}

ul.social-nav li a.twit {background-image: url(../images/twitter.png);}
ul.social-nav li a.face {background: url(../images/face.png);}
ul.social-nav li a.rss {background-image: url(../images/rss.png);}

#footer {background-image: url(../images/bg-slice-footer.gif);}

