/* CSS reset
-------------------------------------------------------------------------------------- */
html, body, div, pre, form, fieldset, input, h1, h2, h3, h4, p, ol, ul, li, dl, dt, dd, blockquote, th, td {padding: 0; margin: 0;}
/* The above makes sure that all browsers take off any default padding or margins from elements. The below styles also resets the defaults for elements so there is consistency across browsers*/
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
ul, li{ list-style:none;margin: 0; padding: 0;}
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:bold; }
a:active {outline: none;}
a:focus {outline: none; }
/* Tell old browsers how to handle HTML5 elements */
header, footer, aside, nav, article {display: block;}

/* General
-------------------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
.clear:after {
    clear: both; 
    content: "."; 
    display: block; 
    height: 0; 
    visibility: hidden;
}
.clear { display: inline-block; }
/* Hides from IE-mac \*/
* html .clear { height: 1%; }
.clear { display: block; }
/* End hide from IE-mac */
h1, h2, h3, h4, p, ol, ul, li {padding: 0; margin: 0;}
body {
 font-family: helvetica, arial, sans-serif;
  color: #5d4434;
  font-size:80%;
  line-height: 170%;
  background:url(paper-teal/images/bg-slice-squares.gif) repeat;
}
html {overflow-y:scroll;}
/* General Typography and Headings
-------------------------------------------------------------------------------------- */
p {margin-bottom: 11px;font-family:Arial, Helvetica, sans-serif ;}
h1 {font-size: 190%;}
h2{font-size: 170%;}
h3{font-size: 150%;}
h4{font-size: 120%;}
h1, h2, h3, h4{ color: #32a0ad; margin: 0 0 10px 0; font-family:Georgia, "Times New Roman", Times, serif;}
h1 {margin-bottom: 40px;}
a img {border: none; }
a  {color: #32a0ad;text-decoration:none;}
a:hover {color: #000;}
span.colour {color: #053b6e;}
h1 span {font-size: 80%;}

.justifyleft {margin: 5px 10px 5px 0; float:left;}
.justifyright {margin: 5px 0 5px 10px; float:right;}

.home-pic-bg {background: url(paper-teal/images/bg-home-pic.png) no-repeat; width: 252px; height: 204px;margin: 0 20px 0 0; float: left; padding: 13px 16px;}
.home-pic-bg img {width: 251px; height: 187px;}
#content img {border: #fff solid 7px;margin: 7px;
	box-shadow: 0 0 5px 2px #968670;
-webkit-box-shadow:  0 0 5px 2px #968670;
-moz-box-shadow:  0 0 5px 2px #968670;}

.countdown {background: url(paper-teal/images/bg-countdown.png) no-repeat; height: 70px; width:186px; text-align: center;padding: 25px 0;}
.countdown h4 {margin: 0;}
.countdown h3 {margin: 0;color: #053B6E;}

hr { border: solid #a28f7e; border-width: 1px 0 0; clear: both; margin: 10px 0; height: 0; }
/* SOCIAL ICONS
-------------------------------------------------------------------------------------- */
ul.social-nav {width: 200px; height: 39px; margin-bottom: 10px;}
ul.social-nav li {float: left;}
ul.social-nav li a {
display:block;
height:39px;
margin:0 0 0 12px;
text-indent:-9999px;
width:44px;
}
ul.social-nav li a.twit {background: url(paper-teal/images/twitter.png) no-repeat 0px 0px;}
ul.social-nav li a.face {background: url(paper-teal/images/face.png) no-repeat 0px 0px;}
ul.social-nav li a.rss {background: url(paper-teal/images/rss.png) no-repeat 0px 0px;}
ul.social-nav li a.twit:hover, ul.social-nav li a.face:hover, ul.social-nav li a.rss:hover
{background-position: 0px -39px;}

/* Structure
-------------------------------------------------------------------------------------- */
#wrap {min-height: 100%;}
.wrapper {margin: 0 auto; width: 920px;position:relative;}
#container {background:url(paper-teal/images/bg-slice-content.gif) repeat-x;overflow: hidden;}
#content {width: 708px; float:right;background: url(paper-teal/images/bg-content-footer.png) no-repeat left bottom;padding-bottom: 89px;}
#content .inner {padding: 20px 50px;background: url(paper-teal/images/bg-content-slice.png) repeat-y; width: 608px;overflow: hidden;}
#sidebar {width: 200px; float:left;}

/* Header
-------------------------------------------------------------------------------------- */
#header {
  height: 200px;
  background:url(paper-teal/images/bg-slice.gif) repeat-x;
}
#header .header-content {
  float: right;
  height: 181px;
  width: 708px;
  background: url(paper-teal/images/bg-header.png) no-repeat;
  margin: 19px 0 0 0;
}
#header h1 {
  text-align: center;font-size: 340%;
    line-height: 50px;
    margin: 40px auto 0; width: 600px;
  color: #32a0ad;
}
#header h3 {background:url(paper-teal/images/bg-header-date.png) no-repeat;text-align: center; width: 230px; height: 26px;margin: 0 auto;line-height: 26px;color: #5c3f22; font-weight: normal;text-shadow: 1px 1px 0 #f7eedf; font-family: Georgia, Times, serif; font-size: 14px;} 
/* Navigation
-------------------------------------------------------------------------------------- */
ul#nav { margin-bottom: 10px;} /* (TS) */
ul#nav li {height: 22px;}
ul#nav li a {
color:#666;
text-decoration:none;
display: block;
padding: 0 0 0 15px; text-transform: uppercase; line-height:22px; height: 22px;
}
ul#nav a:hover{color: #053B6E;background: url(paper-teal/images/bullet-grey.png) no-repeat left center; } /* (TS) */
ul#nav li.active a {color: #053B6E;background: url(paper-teal/images/bullet.png) no-repeat left center; } /* (TS) */
/* Footer
-------------------------------------------------------------------------------------- */
#footer {background: url(paper-teal/images/bg-slice-footer.gif) repeat-x left top #eff8e6; padding: 70px 0 0 0; min-height: 90px;}
.footer-right {float: right; width: 500px;text-align: right;}
#footer p {margin: 0;}

.divider {margin-bottom: 20px;}
.userGalleryAlbums {height: 20px;}
.userGalleryAlbums li {float: left; margin: 0 10px 0 0;}
.userGalleryAlbums li a, #content .inner li {background: url(flowers/paper-sunflower/images/bullet-grey.png) no-repeat left center;
padding-left: 10px;}

#content .es-carousel ul li a img {border: none; box-shadow: none; margin: 0;}
#content .rg-image img {border: none; margin: 0;}

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #9f8b79; /* Old browsers */
		background: #9f8b79 -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #9f8b79 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #9f8b79 -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #9f8b79 -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #9f8b79 -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #9f8b79 linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #000;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #c1b1a3; /* Old browsers */
		background: #c1b1a3 -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: #c1b1a3 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: #c1b1a3 -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: #c1b1a3 -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: #c1b1a3 -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: #c1b1a3 linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}
